
.container {

    border: 4px solid black;
    text-align: center;
}

button{
          border-radius: 20px;
          
}

input{

    background-color: palevioletred;
    padding: 10px;
    border-radius: 15px;
    
}
table,tr,th,td {

    background-color: coral;
}