table,tr,th,td {

    text-align: center;
}

button{
    text-align: center;
    border-radius: 35px;
    color: honeydew;
}

.container {
    text-align: center;
    
}

h2 {

    text-align: center;
    background-color: brown;
}
.style td, .style th{
    border: 2px solid gold;
    padding: 10px;
}
.style tr:hover{
    background-color: gray;
}
.style th {

    padding: 12px;
    background-color:purple;
    color: honeydew;
}